(common_reverse_proxy) {
  # disable FLoC tracking
  header_down Permissions-Policy interest-cohort=()

  # enable HSTS
  header_down Strict-Transport-Security max-age=31536000;

  # disable clients from sniffing the media type
  header_down X-Content-Type-Options nosniff

  # clickjacking protection
  header_down X-Frame-Options DENY

  # keep referrer data off of HTTP connections
  header_down Referrer-Policy no-referrer-when-downgrade
}

retromortem.dev {
  reverse_proxy retromortem:3000  {
    import common_reverse_proxy
  }
}

pb.retromortem.dev {
  reverse_proxy pb:8090  {
    import common_reverse_proxy
  }
}
